@model IEnumerable<ProjetoClinica.Models.Consulta>

@{
    ViewBag.Title = "Consultas";

    ProjetoClinica.Models.Clinica clinica = new ProjetoClinica.Models.Clinica();
    clinica = ProjetoClinica.DAO.ClinicaLoginDAO.RetornarClinicaLogada();
}

<br />
<h2>Lista de Consultas </h2>
<br />

<p>
    @Html.ActionLink("Agendar consulta", "Create", "Consulta", new {@class="btn btn-info btn-sm"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clinica.ClinicaNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clinica.ClinicaMedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.PacienteNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataConsulta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clinica.ClinicaNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clinica.ClinicaMedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.PacienteNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataConsulta)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ConsultaId }, new {@class="btn btn-warning btn-sm"}) 
            @Html.ActionLink("Detalhes", "Details", new { id=item.ConsultaId }, new { @class = "btn btn-info btn-sm" }) 
            @Html.ActionLink("Remover", "Delete", new { id=item.ConsultaId }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
