@model ProjetoClinica.Models.Paciente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PacienteNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacienteNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PacienteCPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacienteCPF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PacienteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
