@model ProjetoClinica.Models.Paciente

@{
    ViewBag.Title = "Details";
}

<br />
<h4>Detalhes do paciente @Html.DisplayFor(model => model.PacienteNome) </h4>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PacienteNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacienteNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PacienteCPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacienteCPF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PacienteId }, new {@class="btn btn-primary"}) 
    @Html.ActionLink("Retornar", "Index", "Pacientes", new {@class="btn btn-warning"})
</p>
