@model IEnumerable<ProjetoClinica.Models.Paciente>

@{
    ViewBag.Title = "Pacientes";
}
<br />
<h2 style="text-align:center;">Pacientes</h2>

<p>
    @Html.ActionLink("Cadastrar novo", "Create", "Paciente", new {@class="btn btn-primary btn-sm"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PacienteNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PacienteCPF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PacienteNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PacienteCPF)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PacienteId }, new {@class="btn btn-warning btn-sm"}) 
            @Html.ActionLink("Detalhes", "Details", new { id=item.PacienteId }, new { @class = "btn btn-info btn-sm" }) 
            @Html.ActionLink("Remover", "Delete", new { id=item.PacienteId }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
